<h1>Order Details</h1>

<div class="form-actions" style="text-align: right;">
  <%= link_to 'Back to Store', store_path(@order.store), class: 'button' %>
</div>

<p>Status: <strong><%= @order.status.humanize %></strong></p>

<table class="store-table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.item.name %></td>
        <td><%= order_item.quantity %></td>
        <td>$<%= order_item.total_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="order-total">
  <p>Total Amount: $<%= @order.total_amount %></p>
</div>
